# Unity
DDoveMiniGameClient/Library/
DDoveMiniGameClient/Temp/
DDoveMiniGameClient/Logs/
DDoveMiniGameClient/UserSettings/
DDoveMiniGameClient/obj/
DDoveMiniGameClient/*.csproj
DDoveMiniGameClient/*.sln
DDoveMiniGameClient/*.suo
DDoveMiniGameClient/*.user
DDoveMiniGameClient/*.pidb
DDoveMiniGameClient/*.unityproj
DDoveMiniGameClient/*.booproj

# Vendor download scratch
_tmp_vendor/

# Local
.vs/
.idea/
*.log
